*{
  margin:0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 4%;
  padding: 120px;
  border: 1px solid #ddd;
  border-radius: 50px;
}

h2 {
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 70%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  margin-left: 10px;
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  background-color: #0077cc;
  color: #fff;
}

ul {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}


li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
}

li:hover {
  background-color: #ddd;
}

button {
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #cc0000;
  color: #fff;
  cursor: pointer;
}

/* Estilo para a checkbox */
input[type="checkbox"] {
  margin-right: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 2px solid #ccc;
  position: relative;
}

input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 2px;
  background-color: #0077cc;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

input[type="checkbox"]:checked:before {
  opacity: 1;
}


label {
  display: flex;
  align-items: center;
  margin: 0;
  cursor: pointer;
}

button.delete-completed {
  display: block;
  margin: auto;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #f44336;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button.delete-completed:hover {
  background-color: #d32f2f;
}
button.delete {
  background-color: #ff6666;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.delete:hover {
  background-color: #ff4d4d;
  color: #fff;
}

button.delete svg {
  margin-right: 5px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}


input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
  width: 70%;
}

button[type="submit"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #00cc66;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #00994d;
}


@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

.fade-out {
  animation: fadeOut 0.5s;
}
.completed {
  color: gray;
  font-style: italic;
  text-decoration: line-through;
}

.complete-all{
  margin-top: 20px;
  margin-left: 191px;
  padding: 10px 20px;
  background-color: #72dc35;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}